<article class="post mx-auto border-dark">
  <div class="d-flex align-items-center justify-content-between bg-dark p-1">
    <div>
        <a class="post-title text-decoration-none text-white" href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="meta text-white post-meta">
      Posted by {{user.username}} 
    </div>
  </div>
  <div class="">
      <p class="text-dark post-content">{{content}}</p>
  </div>
</article>