<section>
    <header>
        <h2>Create post</h2>
    </header>
    <section class="editor">
        <section class="mb-2">
            <input name="title" class="post-title" placeholder="Title" />
        </section>
        <section>
            <textarea name="content" class="post-editor" placeholder="Content"></textarea>
        </section>
        <section>
            <button id="submit-post">Submit</button>
        </section>
    </section>
</section>

<script src="/js/post.js"></script>