
<section id="all-posts">
    <header class="pb-2">
        <h2>{{data.username}} Dashboard</h2>
    </header>
    <section class="py-1 px-2">
        <a href="/dashboard/create/" class="create-link">Create Post</a>
    </section>
    <section class="p-2">
        {{#if data.postsList.length}}
            {{#each data.postsList as |post|}}
                {{> post-details post}}
            {{/each}}
        {{else}}
            <section class="my-3 fs-3">
                Your posts will appear here!
            </section>
        {{/if}}
    </section>
</section>