<section class="card my-2">
  <header class="bg-primary p-1 text-white fw-bold ps-3">
    Login
  </header>
  <section class="p-4">
    <section>
        <form class="form login-form">
          <section class="user-input">
            <label>Email: </label>
            <input class="form-input" id="email-login" required />
          </section>
          <section class="user-input">
            <label>Password: </label>
            <input class="form-input" type="password" id="password-login" required />
          </section>
          <section class="user-input">
            <button type="submit">Login</button>
          </section>
        </form>
        <hr>
    </section>
    <section>
        <a href="/signup">Create an account</a>
    </section>
  </section>
</section>
<script src="./js/login.js"></script>