<section class="card my-2">
  <header class="bg-primary p-1 text-white fw-bold ps-3">
    Sign up!
  </header>
  <section class="p-4">
    <section>
        <form class="form signup-form">
            <section class="user-input">
                <label>Username: </label>
                <input class="form-input" id="username-signup" required />
            </section>
            <section class="user-input">
                <label>Email: </label>
                <input class="form-input" id="email-signup" required />
            </section>
            <section class="user-input">
                <label>Password: </label>
                <input class="form-input" type="password" id="password-signup" required />
            </section>
            <section class="user-input">
                <button type="submit">Sign Up! </button>
            </section>
        </form>
        <hr>
    </section>
    <section>
        <a href="/login">Login to existing account</a>
    </section>
  </section>
</section>
<script src="./js/signup.js"></script>